<p>*ngFor with array </p>
<ul>
  <li *ngFor="let employee of employees; index as i; ; first as isFirst; last as isLast">
    {{i+1}} {{employee}} : isFirst? {{isFirst}} : isLast? {{isLast}}
  </li>
</ul>

<p>*ngFor with objects list array</p>
<table border="1">
  <thead>
    <tr>
      <th>index</th>
      <th>Name</th>
      <th>Salary</th>
      <th>Location</th>
      <th>isFirst?</th>
      <th>isLast?</th>
      <th>isEven?</th>
      <th>isOdd?</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employeesList;
    index as i;
    first as isFirst;
    last as isLast;
    even as isEven,
    odd as isOdd,
    trackBy: trackEmpRefresh">
      <td>{{i+1}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.salary}}</td>
      <td>{{employee.location}}</td>
      <td>{{isFirst}}</td>
      <td>{{isLast}}</td>
      <td>{{isEven}}</td>
      <td>{{isOdd}}</td>
    </tr>
  </tbody>
</table>
<br/>
<button (click)="refresh()">refresh</button>

<br/>
<div [ngSwitch]="valueToSwith">
  <div *ngSwitchCase="1">value is '1'</div>
  <div *ngSwitchDefault>value is not '1'</div>
</div>
