<p>*ngFor with array </p>
<ul>
  <li *ngFor="let employee of employees; index as i">
    {{i+1}} {{employee}}
  </li>
</ul>

<p>*ngFor with objects list array</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Salary</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employeesList; index as i">
      <td>{{i+1}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.salary}}</td>
      <td>{{employee.location}}</td>
    </tr>
  </tbody>
</table>
